<div class="layout-wrapper">
  <!-- Mobile overlay -->
  <div
    class="sidebar-overlay"
    [class.visible]="sidebarOpen"
    (click)="closeSidebar()">
  </div>

  <div class="sidebar-container" [class.open]="sidebarOpen">
    <app-sidebar
      navLabel="Admin tools"
      [navItems]="navItems"
      (navItemClick)="closeSidebar()"
      (closeSidebar)="closeSidebar()">
    </app-sidebar>
  </div>

  <div class="main-content">
    <app-header
      [(sidebarOpen)]="sidebarOpen" />
    <main class="page-content">
        <ng-content></ng-content>
    </main>
  </div>
</div>

