<!-- Modal backdrop -->
<div
  *ngIf="isOpen"
  class="fixed inset-0 bg-gray-900 bg-opacity-30 z-50 transition-opacity"
  (click)="onClose()"
></div>

<!-- Modal dialog -->
<div
  *ngIf="isOpen"
  class="fixed inset-0 z-50 overflow-hidden flex items-center justify-center px-4 sm:px-6"
  role="dialog"
  aria-modal="true"
>
  <div
    class="bg-white dark:bg-gray-800 rounded-lg shadow-xl overflow-auto max-w-lg w-full max-h-full"
    (click)="$event.stopPropagation()"
  >
    <!-- Modal header -->
    <div class="px-5 py-3 border-b border-gray-200 dark:border-gray-700/60">
      <div class="flex justify-between items-center">
        <div class="font-semibold text-gray-800 dark:text-gray-100">{{ title }}</div>
        <button
          class="text-gray-400 hover:text-gray-500 dark:text-gray-500 dark:hover:text-gray-400"
          (click)="onClose()"
        >
          <span class="sr-only">Close</span>
          <svg class="w-4 h-4 fill-current" viewBox="0 0 16 16">
            <path
              d="M7.95 6.536l4.242-4.243a1 1 0 111.415 1.414L9.364 7.95l4.243 4.242a1 1 0 11-1.415 1.415L7.95 9.364l-4.243 4.243a1 1 0 01-1.414-1.415L6.536 7.95 2.293 3.707a1 1 0 011.414-1.414L7.95 6.536z"
            ></path>
          </svg>
        </button>
      </div>
    </div>

    <!-- Modal content -->
    <div class="px-5 pt-4 pb-1">
      <div class="text-sm">
        <div class="mb-4">Upgrade or downgrade your plan:</div>
        <!-- Options -->
        <ul class="space-y-2 mb-4">
          <li *ngFor="let plan of plans">
            <button
              class="w-full h-full text-left py-3 px-4 rounded-lg border-2 transition shadow-sm"
              [ngClass]="{
                'border-violet-500 dark:border-violet-500 bg-white dark:bg-gray-800': isSelected(plan),
                'border-gray-200 dark:border-gray-700/60 hover:border-gray-300 dark:hover:border-gray-600 bg-white dark:bg-gray-800': !isSelected(plan)
              }"
              (click)="selectPlan(plan)"
            >
              <div class="flex items-center">
                <div
                  class="w-4 h-4 rounded-full mr-3 border-4"
                  [ngClass]="{
                    'border-violet-500 bg-white': isSelected(plan),
                    'border-gray-300 dark:border-gray-600': !isSelected(plan)
                  }"
                ></div>
                <div class="flex-grow">
                  <div class="flex flex-wrap items-center justify-between mb-0.5">
                    <span class="font-medium text-gray-800 dark:text-gray-100">
                      {{ plan.name }}
                      <span
                        *ngIf="plan.badge"
                        class="text-xs italic align-top"
                        [ngClass]="{
                          'text-gray-500': plan.isCurrentPlan,
                          'text-violet-500': !plan.isCurrentPlan
                        }"
                      >
                        {{ plan.badge }}
                      </span>
                    </span>
                    <span class="text-gray-600 dark:text-gray-400">
                      <span class="font-medium text-green-600">{{ plan.price }}</span
                      >/{{ plan.period }}
                    </span>
                  </div>
                  <div class="text-sm">{{ plan.features }}</div>
                </div>
              </div>
            </button>
          </li>
        </ul>
        <div *ngIf="renewalNote" class="text-xs text-gray-500">
          {{ renewalNote }}
        </div>
      </div>
    </div>

    <!-- Modal footer -->
    <div class="px-5 py-4">
      <div class="flex flex-wrap justify-end space-x-2">
        <button
          class="btn-sm border-gray-200 dark:border-gray-700/60 hover:border-gray-300 dark:hover:border-gray-600 text-gray-800 dark:text-gray-300"
          (click)="onClose()"
        >
          {{ cancelText }}
        </button>
        <button
          class="btn-sm bg-gray-900 text-gray-100 hover:bg-gray-800 dark:bg-gray-100 dark:text-gray-800 dark:hover:bg-white"
          (click)="onConfirm()"
        >
          {{ confirmText }}
        </button>
      </div>
    </div>
  </div>
</div>

