<ng-container *ngIf="routerLink; else buttonTemplate">
  <a
    [routerLink]="routerLink"
    class="nav-item"
    [class.nav-item--active]="active"
    (click)="onItemClick()"
  >
    <span class="nav-item__icon">
      <ng-icon [name]="tablerIcon" size="20"></ng-icon>
    </span>
    <span class="nav-item__label">{{ label }}</span>
  </a>
</ng-container>

<ng-template #buttonTemplate>
  <button
    type="button"
    class="nav-item"
    [class.nav-item--active]="active"
    (click)="onItemClick()"
  >
    <span class="nav-item__icon">
      <ng-icon [name]="tablerIcon" size="20"></ng-icon>
    </span>
    <span class="nav-item__label">{{ label }}</span>
  </button>
</ng-template>
